:root {
  /* Colors — Primary */
  --color-primary: #80bc2f;
  --color-secondary: #06333c;
  --color-accent: #eba92f;

  /* Colors — Neutrals */
  --color-neutral-50: #333333;
  --color-neutral-100: #ffffff;
  --color-neutral-200: #000000;
  --color-neutral-300: #202020;
  --color-neutral-400: #f1f1f1;

  /* Colors — Backgrounds */
  --color-bg: #ffffff;
  --color-bg-1: #80bc00;
  --color-bg-2: #06333c;
  --color-bg-3: #80bc2f;
  --color-bg-4: #d15e1e;
  --color-bg-5: #eba92f;
  --color-bg-6: #772583;
  --color-bg-7: #15768d;

  /* Colors — Text */
  --color-text: #000000;
  --color-text-1: #333333;
  --color-text-2: #06333c;
  --color-text-3: #ffffff;
  --color-text-4: #33373d;

  /* Typography — Families */
  --font-sans: 'Montserrat', sans-serif;
  --font-body: 'Times New Roman', sans-serif;
  --font-font-2: 'turbinado-pro', sans-serif;
  --font-body: 'eicons', sans-serif;

  /* Typography — Scale */
  --font-size-140: 140px;
  --font-size-130: 130px;
  --font-size-90: 90px;
  --font-size-86: 86px;
  --font-size-80: 80px;
  --font-size-72: 72px;
  --font-size-64: 64px;
  --font-size-50: 50px;
  --font-size-48: 48px;
  --font-size-42: 42px;
  --font-size-38: 38px;
  --font-size-32: 32px;

  /* Spacing */
  --spacing-1: 1px;
  --spacing-30: 30px;
  --spacing-34: 34px;
  --spacing-38: 38px;
  --spacing-46: 46px;
  --spacing-60: 60px;
  --spacing-64: 64px;
  --spacing-68: 68px;
  --spacing-75: 75px;
  --spacing-78: 78px;
  --spacing-84: 84px;
  --spacing-90: 90px;
  --spacing-134: 134px;
  --spacing-160: 160px;
  --spacing-264: 264px;

  /* Border Radius */
  --radius-sm: 3px;
  --radius-md: 7px;
  --radius-md: 10px;
  --radius-full: 25px;
  --radius-full: 34px;
  --radius-full: 50px;

  /* Box Shadows */
  --shadow-xs: rgba(0, 0, 0, 0) 1px 1px 0px 0px;
  --shadow-md: rgba(0, 0, 0, 0.24) 0px 0px 10px 0px;
  --shadow-lg: rgb(0, 0, 0) 8px 8px 5px 0px;
  --shadow-lg: rgba(0, 0, 0, 0.99) 8px 8px 5px 0px;
  --shadow-lg: rgba(0, 0, 0, 0.33) 0px 7px 10px -3px;
  --shadow-lg: rgba(0, 0, 0, 0.89) 6px 5px 13px 0px;
  --shadow-lg: rgba(35, 35, 35, 0.1) 0px 0px 30px 0px;

  /* Original Site Variables */
  /* — other — */
  --wp-internal-comment: "Placeholder for wp_hoist_late_printed_styles() to replace with the block styles printed at wp_footer.";
  --direction-multiplier: 1;
  --page-title-display: block;
  /* — semantic — */
  success: [object Object];
  warning: [object Object];
  error: [object Object];
  info: [object Object];

}